
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_user.css') }}">
  </head>
  <body class="add_user">
    <nav>
        <a href="/"><button>Home</button></a>
        <a href="/movies"><button>Movies</button></a>
        <a href="/users"><button>Users</button></a>
    </nav>

    <form action="/add_user" method="POST" class="styled-form">
      <label for="name">Please enter Username</label>
      <input type="text" id="name" name="name" required><br><br>
      <input type="submit" value="Add User">
    </form>
    {% if message %}
    <p class="alert-message">{{ message }}</p>
    {% endif %}

    <div class="user-actions-bottom">
      <a href="{{ url_for('user.show_users') }}" class="back-users-btn">← Back to Users</a>
    </div>
  </body>
</html>
