<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MovieWeb App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="home">
    <nav>
        <a href="/"><button>Home</button></a>
        <a href="/movies"><button>Movies</button></a>
        <a href="/users"><button>Users</button></a>
    </nav>
    <div class="content">
        <h1 class="title">MovieWeb App</h1>
    </div>
    <div class="description">
        <p>Welcome to your personal Movie Library!</p>
        <p>Create a Username and Start Adding Movies</p>
        <p>Rate the movies to your liking and most important of all:</p>
        <p>Have fun!</p>
    </div>
</body>
</html>
